Creation of a dataset of all Starbucks in United States

# Imports

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

/usr/local/lib/python3.9/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
%matplotlib inline

Disable Pandas *SettingWithCopyWarning*

In [3]:
pd.options.mode.chained_assignment = None  # default='warn'

Import the raw dataset

In [4]:
dataset_starbucks = "../dataset/starbucks-locations.csv"

# Load the dataset
df = pd.read_csv(dataset_starbucks, sep = ',')

# Crop and clean

In [5]:
df.head(3)

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39

Filter only the US Starbucks

In [6]:
df = df[df['Country'] == 'US']

Drop the Country column

In [7]:
df.drop(columns=['Country', 'Timezone', 'Store Number', 'Postcode'], inplace=True)

In [8]:
df.head(3)

,Brand,Store Name,Ownership Type,Street Address,City,State/Province,Phone Number,Longitude,Latitude
11964,Starbucks,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,Anchorage,AK,907-339-0900,-149.78,61.21
11965,Starbucks,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,Anchorage,AK,907-339-2800,-149.84,61.14
11966,Starbucks,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,Anchorage,AK,907-339-1300,-149.85,61.11

In [9]:
df.shape

(13608, 9)

Drop the nans

In [10]:
df.dropna(inplace=True)

Drop the duplicates

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.shape

(13122, 9)

# Export dataset

In [13]:
df.to_csv("../dataset/starbucks-us.csv", index=False)